.service-card{
    position: relative;
    z-index: 1;
    display: grid;
    place-content: center;
    text-align: center;
    background: /* url('/src/assets/logo/logo2 animanuevo@4x-8-blue-.png')  center no-repeat*/ white;
    background: url('/src/assets/Portfolio/1.jpg') center no-repeat;
    background-size: cover;
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    min-width: 30em;
    min-height: 30em;
    width: 30em;
    height: 30em;
}
.service-card::before,.service-card::after{
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: calc(60% + 35px);
    background-color: #222222;
    transition: transform .5s .25s;
}
.service-card::before{
    top: 0;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
    transform: translateY(-100%);
}
.service-card::after{
    bottom: 0;
    clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
    transform: translateY(100%);
}
.service-content{
    opacity: 0;
    transition: opacity .25s;
    padding: 2em;
    background-color: rgba(255,255,255,.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}
.service-card-title{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;   
}
.service-card-description{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    color: #fff;   
}
.service-card:hover::before,.service-card:hover::after{
    transform: translateY(0);
}
.service-card:hover .service-content{
    opacity: 1;
    transition-delay: 0.75s;
}