.service-card{
    width: 50vmin;
    height: 70vmin;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s ease-in-out;
}
.service-card:hover{  
    transform: rotateY(-180deg);
}
.service-card:hover .card__back {
    box-shadow: 0 0 20px 0 #558FA6;
}
.card__front,.card__back{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
    font-size: 20px;
    color: #222222;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 5pt;
    padding: 2em;
    background-color: rgba(255,255,255,.05);
/*     box-shadow: 0 0 5px rgba(0, 0, 0, .15);
 */    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    /* box-shadow: 0 0 20px 0 #558FA6; */
    backdrop-filter: blur(10px);
    border-radius: 8px;
}
.card__content-title{
    height: 20%;
    text-align: center;
    font-size: 1em;
}
.card__image-wrapper{
    width: 100%;
    height: 50%;
    max-width: 8em;
    max-height: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__image{
    width: 100%;
    height: 100%;
}
.card__front{
    background-color: #ffff;
}
.card__back{
    background-color: #ffff;
    transform: rotateY(180deg);
}
.card__content{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.card__content-click{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.click{
    height: 95%;
    animation: click 1s linear infinite;
    font-size: 30px;
}
.card__content-description{ 
    font-size: .9em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.card__content-button{
    margin-bottom: 1em;
    font-size: 0.8em;
    color:#fff;
    background-color: #558FA6;
}
.card__back .card__content{
/*     box-shadow: 0 0 20px 0 #558FA6; */
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    padding: 1em;
    justify-content: space-between;
}
.card__back .card__content-description{
    text-align: center;
}
/* -- media queries -- */
@media screen and (max-width:520px) {
    .service-card{
        width: 80vmin;
        height: 90vmin;
    }
}
@media screen and (min-width:1220px) {
    .service-card{
        max-width: 800px;
        height: 500px;
    }
    .card__content-title{
        font-size: 1.2em;
    }
    .card__image-wrapper {
        max-width: 10em;
        max-height: 10em;
    }
    .card__content-description{ 
        font-size: 1em;

    }
}
/* -- animation -- */
@keyframes click {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
        fill: #558FA6;
    }
}