.section__portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    min-height: 100vh; 
    background-color: #F9EDE2;
    color: #558FA6;
    margin-bottom: 2em;
}
.portfolio__title {
    text-align: center;
    font-size: 3em;
    margin-bottom: .5em;
    color: #558FA6;
}
.portfolio__title span {
    color: #222222;
}
.portfolio-container{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* -- content -- */
.container-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
}
.content-title{
    text-transform: capitalize;
    letter-spacing: 0.8px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
    color: #558FA6;
    text-align: left;
}
.content-hr{
    display: block;
    background: #222222;
    height: 0.25rem;
    width: 10.25rem;
    border: none;
    margin: 1.125rem 0 1.875rem 0;
}
.content-p{
    line-height: 1.6;
}
/*  -- swiper -- */
.container-swiper{
    width: 60%;
}

/* -- media -- */
@media screen and (max-width: 900px) {
    .portfolio-container{
        flex-direction: column;
    }
    .container-content{
        width: 100%;
    }
    .container-swiper{
        width: 100%;
    }
}