#about{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 100%;
    height: 100%;  
    background-color: #F9EDE2;   
}

.container-about{
    display: flex;
    flex-direction: row; 
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin-top: 2em;    
    background-color: #F9EDE2;   
}

.contendedor-p{
    display: flex;
    flex-direction: column;    
    width: 60%;
    text-align: justify;    
    margin-right: 1.5em;
    margin-left: 1.5em;
    font-family: 'ITC Avant Garde Gothic Std', sans-serif; 
}

.h3 {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 3rem;
    text-align: left;      
    color: #558FA6; 
    font-family: 'ITC Avant Garde Gothic Std', sans-serif;
}
.h3-chero{
    font-size: 5rem; 
    text-align: left;      
    color: #558FA6; 
    font-family:'Cherolina', sans-serif;
    font-weight: 800;
}

.p{
    color: #558FA6;
    margin: 0.5rem;
}
.contenedor-imagenes{
    display: flex;
    width: 40%;
    height: 100%;    
    flex-direction: row;
    margin: 0;
}

.contenedor-img{
       height: 100%;   
       min-height: 100%; 
}

.imagen{      
    max-width: 90%;
    max-height: 90%;
}

.contenedor-logos{
    flex-direction: column;     
    padding-top: 1rem;
    padding-bottom: 1rem;   
}

.logos{
    max-height: 6rem;
    max-width: 6rem;
}