#contact{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #F9EDE2;
    min-width: 100vw;
    min-height: 80vh;    
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'ITC Avant Garde Gothic Std', sans-serif; 
    font-size: 1.1rem;
    color: #558FA6;   
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.form__container{
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.form__div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.input__container{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%; 
    text-decoration: none;      
}

.input__container input, textarea {
    background-color: #fff;
    font-family: 'Inter', sans-serif; 
    color: #000;
    border: 1px;
    border-radius: 0px;
    margin: 1.5em;
}

.container__button{
  display: flex;
  width: 40%;
  height: 50%;
}

.button{
 color: #fff;
 background-color: #558FA6;
 text-decoration: none;
}