/*  --- nav responsive */
.nav{
  background: #F9EDE2;
  width: 100%;
  height: 60px;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  transition: background-color 0.3s ease-in-out;
  z-index: 10;
  position: sticky;
  top: 0;
  left: 0;
}
.navscroll {
  background: #558FA6;
  width: 100%;
  height: 60px;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  transition: background-color 0.3s ease-in-out ;
  z-index: 10;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.navlink{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 100%;
  cursor: pointer;
  font-size: 14px;
  color: #F9EDE2;
}
.navlink:active{
  color: #558FA6;
}
.navlink:hover{
  color: #F9EDE2
}
.navmenu{
  display: none;
  align-items: center;
  margin-right: 3em;
  gap: 2em;
  justify-content: flex-end;
  width: 75%;
}
.navmenu.scroll{
  display: flex;
}
.navlink-logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 150px;
  height: 100%;
  margin-right: 5em;
  overflow: hidden;
  margin-left: 2em;
  height: 100%;
  min-height: 60px;
  max-height: 60px;
}
.nav__image{
  width: 100%;

}
.container-menuNavlinks{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 70%;
  gap: 2em;
}
.display-none{
  display: none;
  transition: all .3s ease-in-out;
}
.nav-toggle{
  display: none;
  justify-content: center;
  align-items: center;
  width: 30px;
}
.navbar-container-socialMedia{
  display: none;
}
@media screen and (max-width:900px) {
  /* -- toggles -- */
  .nav-toggle{
    display: flex;
  }
  .bars{
    font-size: 1.5rem;
    display: block;
    cursor: pointer;
    color: #fff;
    transition: all 0.5 ease-in-out;
  }
  .bars-none{
    display: none;
    transition: all 0.5 ease-in-out;
  }
  .bars.scroll{
    color: hsl(197, 32%, 49%);
    transition: all 0.5 ease-in-out;
  }
  .closeMenu{
    font-size: 1.5rem;
    display: block;
    cursor: pointer;
    color: #fff;
    transition: all 0.5 ease-in-out;
  }
  .closeMenu-none{
    display: none;
    transition: all 0.5 ease-in-out;
  }
  .closeMenu.scroll{
    color: hsl(197, 32%, 49%);
    transition: all 0.5 ease-in-out;
  }
  /* -- menu -- */
  .nav{
    justify-content: space-between;
  }
  .navscroll{
    justify-content: space-between;
  }
  .navmenu{
    display: none;
  }
  .navmenu.scroll{
    display: none;
  }
  .navmenu.open{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-right: 0em;
    background-color: #F9EDE2;
    top: 60px;
    z-index: 999;
    right: 0%;
    border-radius: 2pt;
    gap: 2em;
    width: 100%;
    transition: .6s ease-in-out all;
    height: 100%;
  }
  .navmenu.open .navlink{
    color: #558FA6;
  }
  .container-menuNavlinks{
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 80%;
    gap: 2em;
    margin-top: 1.5em;
  }
/*   .navlink{
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 20px;
  } */
  /* -- social media -- */
  .navbar-container-socialMedia{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100%;
    min-height: 100%;
    width: 80%;
    min-width: 50%;
    gap: .5em;
  }
  .socialMedia-items{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 20%;
    gap: 1em;
  }
  .socialMedia-items .itemSocialMedia__container-svg svg {
      width: 25px;
      height: 25px;
  }
  .socialMedia-items .itemSocialMedia__container-svg path {
      fill: #023c53;
  }
  .socialMedia-items .itemSocialMedia__container-svg:hover path {
      fill: #558FA6;
  }
}