.article-SwiperServices{
    width: 100%;
    margin-bottom: 2em;
    margin-top: 2em;
}
.article-SwiperServices .swiper{
    width: 80%;
    max-width: 1400px;
}
.SwiperServices .swiper-wrapper{
    margin-bottom: 2em;
}
.swiper-slide .slide-container-services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
}
/* item card */
.article-SwiperServices .service-card{
    width: 15rem;
    height: 20rem;
}
.article-SwiperServices .card__front,.card__back{
    font-size: 16px;
    padding: .5em;
}
.article-SwiperServices .card__front .card__content-title{
    width: 90%;
}
.article-SwiperServices .card__back .card__content{
    /*     box-shadow: 0 0 20px 0 #558FA6; */
    box-shadow: none;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    padding: 0.25em;
    justify-content: space-evenly;
    max-width: 90%;

}
.article-SwiperServices .card__content-description{
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
.article-SwiperServices .card__content-button{
    font-size: 12px;
}
.article-SwiperServices .card__image-wrapper{
    height: 30%;
    max-width: 6em;
}

/* -- media queries -- */
@media screen and (max-width:520px){
    .article-SwiperServices .swiper-button-prev{
        top: 50%;
    }
    .article-SwiperServices .swiper-button-next{
        top: 50%;
    }
    .article-SwiperServices .swiper-pagination{
        display: block;
    }
}