/* .sidebar {
  width: 85px¿;
  height: 100vh;
  background-color:  #558FA6 #282828 ;
  transition: 0.1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
} */
.sidebar {
  width: 10%;
  min-width: 90px;
  max-width: 100px;
  min-height: 300px;
  height: 70%;
  background-color:  #558FA6/* #282828 */;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: 20px;
  top: 10%;
  left: 0;
  z-index: 1000;
  border-radius: 0 10pt 10pt 0;
}

.sidebar .hamburger {
  width: 25px;
  display: block;
  margin-top: 20px;
  cursor: pointer;  
}
.sidebar .hamburger path {
  fill: #C7E5E5; 
}
.sidebar .hamburger:hover path {
  fill: #fff; 
}
.sidebar .hamburger:hover {
  width: 25px;
  display: block;
  margin-top: 20px;
  cursor: pointer;
}
  
.sidebar .linksContainer {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
  
.sidebarOpen {
  width: 15%;
  min-width: 200px;
  max-width: 230px;
  min-height: 300px;
  height: 70%;
  background-color: #558FA6;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: fixed;
  top: 10%;
  left: 0;
  z-index: 1000;
  border-radius: 0 10pt 10pt 0;
}
  
.sidebarOpen .linksContainer {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  width: 100%;
  transition: all 0.5s ease-in-out;

}

.sidebarOpen a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
  
.sidebarOpen .hamburger {
  display: block;
  width: 25px;
  margin-top: 20px;
  cursor: pointer;
}
.sidebarOpen .hamburger path {
  fill: #C7E5E5; 
}
.sidebarOpen .hamburger:hover path {
  fill: #fff; 
}

.display-none{
  display: none;
  transition: all .3s ease-in-out;
}

.appear{
  transition: all 0.5s ease-in-out;
}