.footer{
    height: 100%;
    width: 100%;
    min-width: 100vw;
    min-height: 80vh;
    background-color: #558FA6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'ITC Avant Garde Gothic Std', sans-serif; 
    font-size: 1.1rem;
    color: #F9EDE2;    
}
/*  ------ containers generales ------------  */
.footer-container{
    height: 100%;
    width: 50%;
    min-width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.footer p{
    color: #F9EDE2;
    margin-top: 10px;
}

.footer h4{
    font-size: 1.7rem;
}
/* ------- containers de redes---------  */
.footer__container__div{
    display: flex;
    width: 50%;
    min-width: 26%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;   
    padding: 1rem;
}
/* ----- logo ------ */
.logo-div{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    overflow: hidden;
}
.logo__footer__spin{
    max-width: 13rem;
    max-height: 13rem;
    animation: spin 5s linear infinite;
}
.logo__footer{
    max-width: 13rem;
    max-height: 13rem;
}
/* ----- keyframes ------ */
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}