.footer{
    height: 100%;
    width: 100%;
    min-height: 95vh;
    background-color: #558FA6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-family: 'ITC Avant Garde Gothic Std', sans-serif; 
    font-size: 1.1rem;
    color: #e2c7ae;    
}
/*  ------ containers generales ------------  */
.footer-bigContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}
.footer-bigContainer-copyright{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}
.footer-container{
    height: 100%;
    width: 50%;
    min-width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.footer p{
    color: #F9EDE2;
    margin-top: 10px;    
}
.footer__container__div__section-p{
    font-size: .8em
}
.footer__container__div__section-p:hover{
    transform: scale(1.1);
    color: #023c53;
}
.footer h4{
    font-size: 1.7rem;
}
/* ------- containers de redes---------  */
.footer__container__div{
    display: flex;
    width: 50%;
    min-width: 26%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;       
}
.socialMedia__container{
    height: 100%;
    width: 50%;
    min-width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    gap: .5em;
}
.socialMedia__row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.socialMedia__address{
    display: flex;
    justify-content: center;
}
/* ----- logo ------ */
.logo-div{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 1rem; */
    overflow: hidden;
    position: relative;
    max-width: 13rem;
    max-height: 13rem;
    min-width: 13rem;
    min-height: 13rem;
}
.logo__footer__spin{
    max-width: 13rem;
    max-height: 13rem;
    animation: spin 7s linear infinite;
    position: absolute;
    margin: auto;
}
.logo__footer{
    max-width: 13rem;
    max-height: 13rem;
}
/* ----- copywrith ------ */
.footer__copyright{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-top: .5em;
    margin-bottom: .5em;
}
.footer__copyright-hr{
    color: #F9EDE2;
    width: 30%;
    margin-top: .5em;
    margin-bottom: .5em;
    filter: blur(1.5px);
}
.footer__copyright-h5{
    margin-top: .5em;
    margin-bottom: .5em;
    color: #fff;
}

.footer__copyright-h5 span{
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: .8em;
    color: #fff;
}
.footer__copyright-h6{
    margin-top: .5em;
    margin-bottom: .5em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #fff;
}
.footer__copyright-span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .2em;
}
.footer__copyright-span svg path {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .2em;
    fill: #F9EDE2;
}
/* ----- keyframes ------ */
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/* -- media query -- */
@media screen and (max-width: 900px) {
    .footer-bigContainer{
        flex-direction: column;
    }
    .footer-container{
        justify-content: center;
        align-items: center;
    }
    .footer__container__div-imagine{
        display: none;
    }
    .footer__container__div-pages{
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .socialMedia__container{
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
        width: 100%;
    }
    .logo-div{
        margin-top: 2em;
    }
}

