.container{
    display: flex;
    flex-direction: column;
    width: 100dvw;
    height: 15%;
    align-items: center;
    justify-content: center;    
}

.item__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100dvw;
}

.item__container img {
    max-width: 200px;
    max-height: 150px;
}


.item__container h5 {
    margin-top: 10px;
    color: #000    
}

@media screen and (max-width: 400px) {
    .item__container{
        flex-direction: column;
    }
}