.swiper-portfolio{
    margin-bottom: 2em;
    margin-top: 2em;
    width: 90%;
    max-width: 1400px;
}
.swiper-portfolio .swiper-wrapper{
    margin-bottom: 2em;
}
.swiper-portfolio .cardportfolio{
    width: 15rem;
    height: 20rem;
}
.swiper-portfolio .container-image{
    width: 100%;
    height: 100%;
}
.swiper-portfolio .cardportfolio-image{
    object-fit: cover;
}


